.main_block {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.main_block_container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 100%;
    padding-top: 150px;
    /*border: 2px solid  white;*/
}

.main_block_left {
    height: 100%;
}

.main_text {
    font-size: 80px;
    color: #d5cece;
}

.typing {
    color: #d5cece;
}

.main_name {
    color: #4343dc;
}

.main_subtext {
    color: #d5cece;
    font-size: 28px;
    margin-top: 20px;
}

.canvas {
    height: 60% !important;
    width: 70% !important;
    /*background-color: #d5cece;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*height: 500px;*/
}

@media (min-width: 1900px) {
    .canvas {
        height: 60% !important;
        width: 100% !important;
        margin-top: 90px;
        /*background-color: #d5cece;*/
        /*display: flex;*/
        /*justify-content: center;*/
        /*align-items: center;*/
        /*height: 500px;*/
    }
}

.hren {
    position: absolute;
    bottom: 32px;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 2px solid white;*/
}

.hren_s_bugra {
    width: 35px;
    height: 64px;
    border-radius: 20px;
    border: 4px solid #4343dc;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2px;
}

.hren_s_bugra2 {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #4343dc;
    margin-bottom: 1px;
}

.main_block_right {

}

.wrapper-card {
    width: 400px;
    height: 300px;
    position: relative;
}

.card {
    width: 100%;
    height: 100%;
    cursor: pointer;
    /*transform: translate(-50%, -50%);*/
}

.card:hover .front {
    transform: perspective(600px) rotateY(-180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(0);
}

.front,
.back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: transform 0.7s ease;
    border-radius: 10px;
    background: linear-gradient(#D6D6D6, #F2F2F2);
}

.front {
    transform: perspective(600px) rotateY(0);
}

.front img {
    width: 100%;
    height: auto;
}

.back {
    transform: perspective(600px) rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 25px 25px;
}

.back_title {
    font-size: 30px;
    height: 30%;
    color: #4343dc;
}

.back_text {
    font-size: 18px;
    height: 40%;
    margin-top: 20px;
}

.socials {
    height: 30%;
}

.logo {
    width: 60px;
    animation: animate 3s infinite;
    color: white;
    cursor: pointer;
}

@keyframes animate {
    0% {
        transform: perspective(23rem) rotateY(0deg);
    }

    10% {
        transform: perspective(23rem) rotateY(-65deg);
    }

    90%, 100% {
        transform: perspective(23rem) rotateY(360deg);
    }
}

@media (min-width: 1900px) {
    .main_text {
        font-size: 100px;
    }

    .wrapper-card {
        width: 600px;
        height: 450px;
    }
}
