.about {
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 100px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,0,23,1) 0%, rgba(0,1,25,1) 100%, rgba(255,0,249,1) 100%);
}

.about_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.about_title {
    color: #d5cece;
    font-size: 50px;
    margin-top: 20px;
}

.about_sub_title {
    margin-top: 15px;
    color: #d5cece;
    font-size: 17px;
    line-height: 30px;
    width: 60%;
}

.about_card_block {
    margin-top: 60px;
    display: flex;
    /*justify-content: space-between;*/
}
/* card */

.card_about_wrapper {
    width: 100%;
}

.card_about {
    width: 250px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,5,52,1) 0%, rgba(3,3,51,1) 100%, rgba(0,1,25,1) 100%);
    padding: 1px;
    border-radius: 20px;
    /*box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);*/
    border: 2px solid #631584;
    box-shadow: 12px 16px 26px -3px rgba(221, 231, 239, 0.13);
}

.card_h {
    border-radius: 20px;
    padding: 5px 12px;
    min-height: 280px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.card_r {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.card_m {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
